<% /* Account Management View */ %>
<h1>Account Management</h1>

<% if (message) { %>
  <div class="flash-message">
    <%= message %>
  </div>
<% } %>

<% if (errors && errors.length > 0) { %>
  <div class="error-box">
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<% if (account) { %>
  <h2>Welcome <%= account.account_firstname %></h2>

  <p>
    <a href="/account/update/<%= account.account_id %>">Update Account Information</a>
  </p>

  <% if (account.account_type === 'Employee' || account.account_type === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p>
      <a href="/inv">Go to Inventory Management</a>
    </p>
  <% } %>
<% } %>

<p>You're logged in.</p>