  <%# <header class="profile-container"> %>
    <nav>
        <div class="profile-container"> <%# added this line to fit my initial CSS styling %>
            <%- nav %>
        </div>                          <%# added this line to fit my initial CSS styling %>  
    </nav>

    
    <%# <nav>
        <a href="/" id="home-link">Home</a>
        <a href="/custom" id="custom-link">Custom</a>
        <a href="/sedan" id="sedan-link">Sedan</a>
        <a href="/suv" id="suv-link">SUV</a>
        <a href="/truck" id="truck-link">Truck</a>
    </nav> %>
 <%# </header> %>
