<%# <header class="profile-container">
    <nav>
        <ul>
            <li>Home</li>
            <li>Custom</li>
            <li>Sedan</li>
            <li>SUV</li>
            <li>Truck</li>
        </ul>
    </nav> 
</header> %>
  
<header class="profile-container">
    <nav>
        <a href="/" id="home-link">Home</a>
        <a href="/custom" id="custom-link">Custom</a>
        <a href="/sedan" id="sedan-link">Sedan</a>
        <a href="/suv" id="suv-link">SUV</a>
        <a href="/truck" id="truck-link">Truck</a>
    </nav>
</header>
