<%# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE Motors</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head> %>
<%#  <body> %>
    <h1>Welcome to CSE Motors!</h1>
    <%#<main>%>
        <section class="hero">
            <div class=" hero-content">
                <h2>DMC DeLorean</h2>
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dice!</p>
                <img src="/images/site/own_today.png" alt="hero-content image" class="hero-image"> 
            </div>
            <div class="hero-image-container">
                <img src="/images/vehicles/delorean.jpg" alt="hero" class="hero">  
            </div>  
        </section>
        <section class="feature-container">
            <div class="upgrade">
                <h3>Delorean Upgrades</h3>
                <div class="upgrade-container">
                    <div class="upgrade-item">
                        <div class="img-wrapper">
                            <img src="/images/upgrades/flux-cap.png" alt="flux capacitor" class="flux"> 
                        </div>                        
                        <p class="label">Flux Capacitor</p>
                    </div>
                    <div class="upgrade-item">
                        <div class="img-wrapper">
                            <img src="/images/upgrades/flame.jpg" alt="flame decals" class="decals"> 
                        </div>
                        <p class="label">Flame Decals</p>
                    </div>
                    
                    <div class="upgrade-item">
                        <div class="img-wrapper">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers" class="bumper">
                        </div>
                        <p class="label">Bumper Stickers</p> 
                    </div>
                    <div class="upgrade-item">
                        <div class="img-wrapper">
                            <img src="/images/upgrades/hub-cap.jpg" alt="hub caps" class="hub"> 
                        </div>
                        <p class="label">Hub Caps</p>                         
                    </div>                    
                </div>                  
            </div>
            <div class="review">
                <h3>DMC Delorean Reviews</h3>
                <ul>
                    <li><p>"So fast it's almost like travelling in time." (4/5)</p></li>
                    <li><p>"Coolest ride on the road." (4/5)</p></li>
                    <li><p>"I'm feeling McFly!" (5/5)</p></li>
                    <li><p>"The most futuristic ride of our day" (4.5/5)</p></li>
                    <li><p>"80's livin and I love it!" (5/5)</p></li>
                </ul>
            </div>
        </section>     
   <%# </main> %>
<%# </body>
</html> %>
